/* style.css with proper handling of case info
*/
BODY {
   background-color: #166132;
   font-family: Arial, Helvetica, sans-serif;
}
.smallbodytext {
  font-size: 12px;
  font-weight: normal;
  color: #000000;
}
.smallbodytextreversed {
  font-size: 12px;
  font-weight: normal;
  color: #FFFFFF;
}
.smallbodytextreversed a:link {
  color: #FFFFFF;
  text-decoration: underline;
}
.smallbodytextreversed a:visited {
  color: #FFFFFF;
  text-decoration: underline;
}
.smallbodytextreversed a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
.smallbodytextreversed a:active {
  color: #FFFFFF;
  text-decoration: underline;
}
.bodytext {
  font-size: 16px;
  font-weight: normal;
  color: #000000;
}
.contact-text {
  font-size: 20px;
  font-weight: normal;
  color: #000000;
}
.bodyHeadBold {
   font-size: 18px;
   font-weight: bold;
   padding-bottom: 20px;
   color: #1d6d38;
}
.bodytextbold {
  font-size: 16px;
  font-weight: bold;
  padding-left: 20px;
  color: #1d6d38;
}
.smallheadline {
  font-size: 18px;
  font-weight: bold;
  color: #1d6d38;
}
a:link {
  color: #006830;
  text-decoration: none;
}
a:visited {
  color: #006830;
  text-decoration: none;
}
a:hover {
  color: #990000;
  text-decoration: none;
}
a:active {
  color: #006868;
  text-decoration: none;
}
.menutext {
  font-size: 17px;
  font-weight: normal;
  color: #000000;
}
.menutext a:link {
  color: #006830;
  text-decoration: none;
}
.menutext a:visited {
  color: #006830;
  text-decoration: none;
}
.menutext a:hover {
  color: #006830;
  text-decoration: underline;
}
.menutext a:active {
  color: #006830;
  text-decoration: none;
}
span.law-firm-city {
   padding-left: 40px;
   padding-top: 10px;
}
ul {
   list-style-type: circle;
}
td.logo {
   padding-bottom: 6px;
}
table.center {
   margin-left: auto;
   margin-right: auto;
}
ul.bullets {
}

.comment-title {
    color: #006830;
    padding-left: 0pt;
    padding-top: 2pt;

}
.kwds {
    font-weight: bold;
}

.comment-text {
    color: #006830;
    font-size: 95%;
    padding-top: 4pt;
    padding-right: 4pt;
    padding-left: 8pt;
}
.comment-commenter {
    color: #006830;
    font-size: 95%;
    padding-top: 4pt;
    padding-right: 4pt;
    padding-left: 8pt;
}

ul.bullets li {
    margin-bottom: 6px;
}
span.client-side {
    padding-left: 2px;
    font-weight: normal;
    font-style: oblique;
}
div.case {
    margin-top: 5px;
    margin-bottom: -7px;
    padding-left: 25px;
}
bodytext div.bodytextbold {
  font-size: 16px;
  font-weight: bold;
  padding-left: 20px;
  margin-bottom: 3px;
  color: #1d6d38;
}
div.law-firm-city {
   padding-left: 40px;
   padding-top: 2px;
  color: #1d6d38;
}
span.law-firm-city {
   font-weight: normal;
   padding-left: 2px;
   padding-top: 2px;
  color: #1d6d38;
}
div.court {
   padding-left: 15px;
   padding-top: 2px;
   color: #1d6d38;
   font-style: oblique;
   font-weight: normal;
}
.court:hover .casedetails {
   display: block;
}
div.case2 {
    margin-top: 13px;
    margin-bottom: -7px;
    padding-left: 25px;
}
.couponcode:hover .coupontooltip {
    display: block;
}
.casedetails {
    display: none;
    background: #DDDDFF;
    margin-left: 28px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    width:400px;
    height:100px;
}

.couponcode {
    margin:100px;
}